
.document {
  width: 50%;
  display: block;
  margin: 0 auto;
  text-align: left;

  & > * {
    flex: 0 0 auto;
  }
}

.inputs {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
